<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>203693981909-10v9bfjeqvg796hqs83b9fhvjp6ur9oi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.203693981909-10v9bfjeqvg796hqs83b9fhvjp6ur9oi</string>
	<key>API_KEY</key>
	<string>AIzaSyBq49wcb4qiMxDRO8jDlloqrPeN3T1QmIw</string>
	<key>GCM_SENDER_ID</key>
	<string>203693981909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newEcomerce</string>
	<key>PROJECT_ID</key>
	<string>new-ecommerce-f86eb</string>
	<key>STORAGE_BUCKET</key>
	<string>new-ecommerce-f86eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:203693981909:ios:7ced2f33582d342e20e25c</string>
</dict>
</plist>